
### Imputation Redux: Imputing Missing Categorical Data

Categorical data presents a particular kind of challenge, because (as we discussed) sklearn doesn't like to deal with non-numeric data. For instance, the KNNImputer will fail if we attempt to encode categorical values.

In [1]:
import numpy as np
import pandas as pd
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder

# Set random seed for reproducibility
np.random.seed(42)

# Create synthetic data
n_samples = 100
age = np.random.randint(18, 80, n_samples)
income = np.random.randint(20000, 100000, n_samples)
education = np.random.choice(['High School', 'Bachelor', 'Master', 'PhD'], n_samples)
city = np.random.choice(['New York', 'Los Angeles', 'Chicago', 'Houston', 'Miami'], n_samples)


# Create a DataFrame
df = pd.DataFrame({
    'Age': age,
    'Income': income,
    'Education': education,
    'City': city
})

# Introduce missing values
for column in df.columns:
    mask = np.random.choice([True, False], size=df.shape[0], p=[0.1, 0.9])
    df.loc[mask, column] = np.nan



# Try to use KNNImputer on the entire DataFrame
imputer = KNNImputer(n_neighbors=5)

try:
    imputed_data = imputer.fit_transform(df)
    print("\nImputed data:")
    print(imputed_data[:10])
except ValueError as e:
    print("\nError when trying to impute:")
    print(e)

Error when trying to impute:
could not convert string to float: 'High School'

There are two strategies for dealing with this; we can use SKLearn's "most frequent" method for Simple Imputation.  Alternatively (if we want to use something like a KNNImputer) we'll need to encode the data first, and then impute.



#### Using Pandas or Most Frequent Category

You can use pandas to replace nulls, using one of the methods we covered previously. Alternatively, you can use SimpleImputer with the `strategy='most_frequent'` option to impute missing values with the most frequent category in each column before one-hot encoding.

In [2]:
from sklearn.impute import SimpleImputer
import pandas as pd
import numpy as np

df_imputed = df.copy()
# Impute missing values
imp = SimpleImputer(strategy='most_frequent')
df_imputed[["Education","City"]] = imp.fit_transform(df[['Education','City']])
df_imputed

     Age   Income    Education         City
0    NaN  57065.0       Master     New York
1    NaN  52606.0  High School  Los Angeles
2   46.0  31534.0     Bachelor     New York
3   32.0  60397.0          PhD      Houston
4    NaN  21016.0          PhD        Miami
..   ...      ...          ...          ...
95  46.0  54766.0     Bachelor     New York
96  35.0  93530.0          PhD      Chicago
97  43.0  81087.0  High School     New York
98   NaN  88840.0          PhD     New York
99  51.0  74384.0          PhD     New York

[100 rows x 4 columns]

### Encoding and then imputing

If we wanted to use something more sophisticated, like a KNNImputer, we might think we try to encode first, and then impute, but there is another subtle problem here.

In [4]:
from sklearn.preprocessing import OrdinalEncoder

le_education = OrdinalEncoder()
le_city = OrdinalEncoder()

df_numeric = df.copy()
# Fit and transform the non-null values
df_numeric['Education'] = le_education.fit_transform(df[['Education']])
df_numeric['City'] = le_city.fit_transform(df[['City']])

# Impute missing values
imputer = KNNImputer(n_neighbors=5)
imputed_data_numeric = imputer.fit_transform(df_numeric)

# Create a new DataFrame with imputed values
df_imputed = pd.DataFrame(imputed_data_numeric, columns=df.columns)
df_imputed

     Age   Income  Education  City
0   56.2  57065.0        1.2   4.0
1   60.4  52606.0        1.0   2.0
2   46.0  31534.0        0.0   4.0
3   32.0  60397.0        3.0   1.0
4   50.2  21016.0        3.0   3.0
..   ...      ...        ...   ...
95  46.0  54766.0        0.0   1.6
96  35.0  93530.0        3.0   0.0
97  43.0  81087.0        1.0   1.6
98  50.2  88840.0        3.0   4.0
99  51.0  74384.0        3.0   1.2

[100 rows x 4 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        83 non-null     float64
 1   Income     93 non-null     float64
 2   Education  86 non-null     object
 3   City       87 non-null     object
dtypes: float64(2), object(2)
memory usage: 3.3+ KB

Here's the problem ...

In [6]:
df_imputed[(df.Education.isna()) | (df.City.isna())]

     Age   Income  Education  City
0   56.2  57065.0        1.2   4.0
5   25.0  75591.0        1.2   3.0
6   50.8  43247.0        2.0   1.4
7   38.0  44300.0        0.0   1.6
15  70.0  71214.0        1.2   0.0
27  19.0  33986.0        1.2   0.0
29  38.0  32666.0        3.0   1.6
33  39.0  72972.2        2.4   4.0
37  66.0  50535.0        2.0   1.0
38  44.0  98603.0        1.2   4.0
43  50.8  83335.0        3.0   1.4
45  79.0  44538.0        3.0   1.0
51  72.0  26910.0        1.2   3.0
52  69.0  68297.2        2.0   1.0
54  20.0  70636.0        1.2   1.6
55  60.4  70015.0        1.2   1.0
60  50.8  87214.0        2.0   1.4
69  43.0  69080.0        2.0   1.6
71  60.4  89163.0        1.2   1.0
73  45.0  68925.0        1.2   1.0
80  64.0  41976.0        1.2   2.0
90  23.0  41959.0        0.0   1.8
94  71.0  86199.0        1.2   2.0
95  46.0  54766.0        0.0   1.6
97  43.0  81087.0        1.0   1.6
99  51.0  74384.0        3.0   1.2

You'll note that KNN works by calculating the _mean_ of it's nearest neighbors.  That doesn't make much sense here.  We could round, but that defeats the purpose of using KNN.  One solution is to use a more robust library.  The following is a little advanced, but I've provided it hear so you can refer back.  For our purposes, a SimpleImputer should be sufficient.

#### Use a Different Library!

As you might imagine, others have struggled with this, and so there are other libraries designed to address this problem.  For instance, the `fancyimpute` package has both a KNNImputer and an IterativeImputer you might try.  Here's an example with the `KNNImputer` from `fancyimpute`.

In [7]:
!pip install fancyimpute

Collecting fancyimpute
  Downloading fancyimpute-0.7.0.tar.gz (25 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting knnimpute>=0.1.0 (from fancyimpute)
  Downloading knnimpute-0.1.0.tar.gz (8.3 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: scikit-learn>=0.24.2 in /home/codespace/.local/lib/python3.12/site-packages (from fancyimpute) (1.5.1)
Collecting cvxpy (from fancyimpute)
  Downloading cvxpy-1.5.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (8.8 kB)
Collecting cvxopt (from fancyimpute)
  Downloading cvxopt-1.3.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.3 kB)
Collecting pytest (from fancyimpute)
  Downloading pytest-8.3.3-py3-none-any.whl.metadata (7.5 kB)
Collecting nose (from fancyimpute)
  Downloading nose-1.3.7-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: six in /home/codespace/.local/lib/python3.12/site-packages (from knnimpute>=0.1.0->fancyimpute) (1.16.0)
Requirement already satisfied: numpy>=1.10 in /home/codespace/.local/lib/python3.12/site-packages (from knnimpute>=0.1.0->fancyimpute) (2.1.0)
Requirement already satisfied: scipy>=1.6.0 in /home/codespace/.local/lib/python3.12/site-packages (from scikit-learn>=0.24.2->fancyimpute) (1.14.0)
Requirement already satisfied: joblib>=1.2.0 in /home/codespace/.local/lib/python3.12/site-packages (from scikit-learn>=0.24.2->fancyimpute) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/codespace/.local/lib/python3.12/site-packages (from scikit-learn>=0.24.2->fancyimpute) (3.5.0)
Collecting osqp>=0.6.2 (from cvxpy->fancyimpute)
  Downloading osqp-0.6.7.post1-cp312-cp312-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.9 kB)
Collecting ecos>=2 (from cvxpy->fancyimpute)
  Downloading ecos-2.0.14-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (8.0 kB)
Collecting clarabel>=0.5.0 (from cvxpy->fancyimpute)
  Downloading clarabel-0.9.0-cp37-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.8 kB)
Collecting scs>=3.2.4.post1 (from cvxpy->fancyimpute)
  Downloading scs-3.2.7-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (2.1 kB)
Collecting iniconfig (from pytest->fancyimpute)
  Downloading iniconfig-2.0.0-py3-none-any.whl.metadata (2.6 kB)
Requirement already satisfied: packaging in /home/codespace/.local/lib/python3.12/site-packages (from pytest->fancyimpute) (24.1)
Collecting pluggy<2,>=1.5 (from pytest->fancyimpute)
  Downloading pluggy-1.5.0-py3-none-any.whl.metadata (4.8 kB)
Collecting qdldl (from osqp>=0.6.2->cvxpy->fancyimpute)
  Downloading qdldl-0.1.7.post4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.7 kB)
Downloading cvxopt-1.3.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.9/17.9 MB 54.3 MB/s eta 0:00:00:00:01
Downloading cvxpy-1.5.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 19.5 MB/s eta 0:00:00
Downloading nose-1.3.7-py3-none-any.whl (154 kB)
Downloading pytest-8.3.3-py3-none-any.whl (342 kB)
Downloading clarabel-0.9.0-cp37-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 25.7 MB/s eta 0:00:00
Downloading ecos-2.0.14-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (222 kB)
Downloading osqp-0.6.7.post1-cp312-cp312-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (300 kB)
Downloading pluggy-1.5.0-py3-none-any.whl (20 kB)
Downloading scs-3.2.7-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.4/10.4 MB 56.4 MB/s eta 0:00:00
Downloading iniconfig-2.0.0-py3-none-any.whl (5.9 kB)
Downloading qdldl-0.1.7.post4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 16.0 MB/s eta 0:00:00
Building wheels for collected packages: fancyimpute, knnimpute
  Building wheel for fancyimpute (pyproject.toml) ... done
  Created wheel for fancyimpute: filename=fancyimpute-0.7.0-py3-none-any.whl size=29880 sha256=c4b95bb59b60cd80c96833dd4910ab1b65e10c59763da5d2770648fdb92d10ba
  Stored in directory: /home/codespace/.cache/pip/wheels/df/20/91/e4850b9a31cf660c1bc95515d3bcbc8010e869e5de6d5baf07
  Building wheel for knnimpute (pyproject.toml) ... done
  Created wheel for knnimpute: filename=knnimpute-0.1.0-py3-none-any.whl size=11330 sha256=2110f0ed53f46af380e55a14ec997299b8334f6e91538e5309168c89e6557629
  Stored in directory: /home/codespace/.cache/pip/wheels/89/11/61/aa5a3167bfff49218cd043a73a83034b9eadd858b0059521be
Successfully built fancyimpute knnimpute
Installing collected packages: nose, pluggy, knnimpute, iniconfig, cvxopt, scs, qdldl, pytest, ecos, clarabel, osqp, cvxpy, fancyimpute
Successfully installed clarabel-0.9.0 cvxopt-1.3.2 cvxpy-1.5.3 ecos-2.0.14 fancyimpute-0.7.0 iniconfig-2.0.0 knnimpute-0.1.0 nose-1.3.7 osqp-0.6.7.post1 pluggy-1.5.0 pytest-8.3.3 qdldl-0.1.7.post4 scs-3.2.7


#### FancyImputes K-Nearest Neighbors (KNN) Imputer

KNN from fancyimputer won't work with categorical data directly, but instead of using the `mean` (which is used by SciKit Learn's KNNImputer) is uses the `mode` for imputation, which is what we want.  To use KNN, first you should first encode your data using an `OrdinalEncoder` or `LabelEncoder`, then impute, then transform your data back into the categorical values you want.  This is more complicated than it should be because there is no easy way to preserve nulls in your data.

In [8]:
import pandas as pd
import numpy as np
from fancyimpute import KNN
from sklearn.preprocessing import LabelEncoder

# Create DataFrame with missing values
data = {
    'Fruit': ['Apple', 'Banana', 'Cherry', 'Apple', None, 'Banana'],
    'Color': ['Red', 'Yellow', 'Red', None, 'Green', 'Yellow']
}

df = pd.DataFrame(data)

# Dictionary to hold LabelEncoders for each column
encoders = {}

# Replace categorical string values with numerical representations
for col in df.columns:
    le = LabelEncoder()
    not_null_mask = df[col].notnull()
    df.loc[not_null_mask, col] = le.fit_transform(df.loc[not_null_mask, col].astype(str))
    encoders[col] = le

# Use KNN to impute the missing values
knn_imputer = KNN()
df_imputed = knn_imputer.fit_transform(df)

# Round imputed values and convert to int for decoding
# Note that the rounding is necessary because NaNs force columns to become floats
df_imputed = pd.DataFrame(np.round(df_imputed), columns=df.columns).astype(int)

# Decode imputed values back to original categorical values
for col in df.columns:
    df_imputed[col] = encoders[col].inverse_transform(df_imputed[col])

print(df_imputed)

Imputing row 1/6 with 0 missing, elapsed time: 0.001
    Fruit   Color
0   Apple     Red
1  Banana  Yellow
2  Cherry     Red
3   Apple     Red
4  Banana   Green
5  Banana  Yellow

Other strategies may be applied in a similar manner, after which you can one-hot encode your data, and proceed with additional processing!

Note that there is currently no elegant solution for imputation of categorical variables, and so if you want something more sophisticated than a SimpleImputer with a "most_frequent" strategy, you'll probably need to write some code.  However, we can turn the above method into our own "Imputer" class like this:

In [9]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import LabelEncoder
from fancyimpute import KNN
import pandas as pd
import numpy as np

class CategoricalKNNImputer(BaseEstimator, TransformerMixin):
    def __init__(self, include_numeric=False, include_cols = []):
        self.encoders = {}
        self.knn_imputer = KNN()
        self.include_numeric = include_numeric
        self.include_cols = include_cols
    
    def fit(self, X, y=None):
        X = X.copy()
        
        if self.include_numeric:
            self.cols = X.columns.tolist()
        else:
            self.cols = X.select_dtypes(include=['object', 'category']).columns.tolist()+self.include_cols
            
        for col in self.cols:
            le = LabelEncoder()
            not_null_mask = X[col].notnull()
            if not_null_mask.sum() > 0:  # Only if there are non-null values to fit
                X.loc[not_null_mask, col] = le.fit_transform(X.loc[not_null_mask, col].astype(str))
                self.encoders[col] = le
        return self
    
    def transform(self, X):
        X_original = X.copy()
        X = X.copy()
        
        for col in self.cols:
            if col in self.encoders:  # Only if encoder exists
                not_null_mask = X[col].notnull()
                X.loc[not_null_mask, col] = self.encoders[col].transform(X.loc[not_null_mask, col].astype(str))
        
        X_imputed = self.knn_imputer.fit_transform(X)
        X_imputed = pd.DataFrame(X_imputed, columns=X.columns)
        
        for col in self.cols:
            if col in self.encoders:  # Only if encoder exists
                X_imputed.loc[:, col] = np.round(X_imputed.loc[:, col])  # Rounding only categorical columns
                X_imputed[col] = X_imputed[col].astype(int)  # Converting to int before decoding
                X_imputed[col] = self.encoders[col].inverse_transform(X_imputed[col])
        
        if not self.include_numeric:
            replacements = [x for x in X.columns if x not in self.cols]
            #numeric_cols = X_original.select_dtypes(include=[np.number]).columns
            X_imputed[replacements] = X_original[replacements]
        
        return X_imputed